<div class="center header">
	<h1><strong>Here are all the pins!</strong></h1>
	<p><%= link_to "Make a new pin!", new_pin_path %></p>
	<p><small>Click 'view' to see details. If a pin is yours feel free to update or delete it. Don't see any edit or delete links? You must be new :) sing up to start pinning! </small></p>
</div>

<%= render 'shared/pins_list' %>

