<h1 class="center">About My Pinterest Style App</h1>

<p>This is an app I created for a class project. It is a pinterest-style application. You can create pins, re-pin, and follow other users. You won't be able to create a pin until you login so please sign up and start pinning! <%= link_to 'back to home', root_path %></p>

