<div class="center header">
	<h1><strong>Edit your board</strong></h1>
	<p><%= link_to 'Back to board', @board %> | <%= link_to 'Back to all boards', boards_path %></p>
</div>

<%= render 'form' %>


