@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-inverse {
	margin-bottom: 50px;
}

h1, h2 {
	margin: 0;
	padding: 0;
}

p {
	margin: 25px 150px;
}

.center {
	text-align: center;
}

.header {
	margin-top: 100px;
	margin-bottom: 100px;
}

.header h1 {
	margin: 0 50px;
}

.header p {
	margin: 15px 50px;
}

.header img {
	margin: 35px 0;
}

.header a:visited, a:hover {
	background-color: white;
	color: black;
}

.home-buttons {
	margin-top: 25px;
	margin-left: 10px;
	margin-right: 10px;
}

.pins {
	margin: 0 100px;
}

.pin-container{
  margin-bottom: 25px;
  padding: 5px;
  width: 100%;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.row-style {
  color: black;
  margin-bottom: 50px;	
}

.row-style a:visited {
  color: black;
}

.row-style a:hover {
  background-color: white;
  color: black;
}

.pin {
  padding: 40px;
  min-height: 343px;
  background-color: #fff;
  border: 1px solid #efefef;
}

.show-pin{
  background-color: #fff;
  padding: 40px;  
}

ul {
	list-style: none;
	padding-left: 0;
}

.form {
	width: 60%;
	margin: 20px 20%;
}

.no-border {
	border: 0px !important;
}

.pin-info a {
	color: black;
}

a:visited {
	color: white;
}

.link a:visited, a {
	color: black;
}

